# Diretórios de tempo
[1-9]*/
0.*

# Arquivos gerados pelo snappyHexMesh em 0/
0/cellLevel
0/pointLevel
0/cellToRegion

# Pós-processamento
postProcessing/
VTK/

# MPI
processor*/

# Malha gerada
constant/polyMesh/
constant/extendedFeatureEdgeMesh/

# Features extraídas
constant/triSurface/*.eMesh

# ParaView
*.foam
*.OpenFOAM

# Logs
log.*

# Dumps
core
core.*

# Resultados Python
results/

# Cache Python
**pycache**/
*.pyc

# Editores
.vscode/
.history/